* {
    background-color: #fff8dc;
}
h1 {
    text-align: center;
}
.weblayout-example > div {
    padding: 20px 0;
    text-align: center;
    margin: 5px 0;
    
}
.navbar {
    background-color: #4caf50;
}
.menu {
    float: left;
    width: 33.33%;
    height: 200px;
    background-color : #3f51b5;
}
.content {
    float: left;
    width: 33.33%;
    height: 200px;
    background-color: #00bcd4;  
}
.sidebar {
    float: left;
    width: 33.33%;
    height: 200px;
    background-color: #ff9800;
}
.footer {
    clear: both;
    background-color: tomato;
}